html {
  font-size: 16px;
}


.footer-content {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: 40%;
  width: 100%;
  padding-top: 3rem; /* 40px / 16px = 2.5rem */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 0.1rem;
}

.footer-content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 31.25rem; /* 500px / 16px = 31.25rem */
  margin: 0.625rem auto; /* 10px / 16px = 0.625rem */
  line-height: 1.75rem; /* 28px / 16px = 1.75rem */
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.socials li {
  margin: 0 0.725rem; /* 10px / 16px = 0.625rem */
}

.socials a {
  text-decoration: none;
  color: #fff;
  /* border: 0.06875rem solid white; */
  padding: 0.3125rem; /* 5px / 16px = 0.3125rem */
  /* border-radius: 3.125rem; */
}

.socials a i {
  font-size: 1.8rem; /* 20px / 16px = 1.25rem */
  width: 1.25rem; /* 20px / 16px = 1.25rem */
  transition: color 0.025s ease; /* 0.4s / 16px = 0.025s */
}

.socials a:hover i {
  color: aqua;
}

.footer-content p a{
  color: blue;
}

@media (max-width: 450px) {
  .footer-menu{
    background-color: #000;
  }
  
  
  .footer-menu ul {
    
    margin-top: 0.625rem; /* 10px / 16px = 0.625rem */
    margin-bottom: 1.25rem; /* 20px / 16px = 1.25rem */
    

  }
}
